<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-bold">Contact Details</div>
                    <div class="card-body">
                       <table class="table table-sm table-hover">
                           <thead class="thead-dark">
                               <tr class="text-center">
                                   <th>No.</th>
                                   <th>Name</th>
                                   <th>Action</th>
                               </tr>
                               </thead>
                               <tbody>
                                   <tr v-if="length == 0">
                                       <td colspan="4" class="jumbotron text-center text-bold">
                                           No Data Found
                                       </td>
                                   </tr>
                                   <tr v-else v-for="(contact,index) in contacts.data" :key="contact.id">
                                       <td scope="row">{{index + 1}}</td>
                                       <td>{{contact.name}}</td>
                                       <td>
                                            <span class="badge badge-success p-1"  @click="viewMessage(contact.id)" ><i class="fas fa-eye  "></i> Read</span>
                                             <span class="badge badge-danger p-1" @click="deleteContact(contact.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>
                                       </td>
                                   </tr>
                               </tbody>
                       </table>
                          <pagination class="mt-4" :data="contacts" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt; Previous</span>
	                        <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>

            <div class="col-md-6" v-show="showMessage">
                <div class="card text-left" >
                  <div class="card-body">
                    <h4 class="card-title"><strong>From:</strong>  <span>{{ Email }}</span></h4>
                    <p class="card-text">
                            <span class="text-center"><strong>Message :</strong> </span>
                            <span>{{Message}}</span>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                showMessage: false,
                contacts: {},
                Name : '',
                Email:'',
                Message:'',
                length:'',

            }
        },
        methods:{
             getResults(page = 1) {
			axios.get('api/contact?page=' + page)
				.then(response => {
                    this.contacts = response.data;
				});
		    },
            loadContact(){
                axios.get("api/contact").then(({ data }) => {
                    this.contacts = data
                     this.length = data.data.length;
                    });
            },
            deleteContact(id){
                    Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if(result.value){
                            axios.get('api/deletecontact/'+id).then(()=>{
                                Swal.fire(
                                'Deleted!',
                                'Message has been deleted.',
                                'success'
                            )
                            Fire.$emit('done');
                        }).catch(()=>{
                            Swal("Failed!", "There was something wrong!", "warning");
                        });
                    }
                    this.showMessage =false;
                })
            },
            viewMessage(id){
                axios.get('api/contact/'+id)
                .then(({data}) => {
                    this.Name = data.name,
                    this.Email= data.email,
                    this.Message = data.message
                });
                this.showMessage =true;
            }
        },
        created(){
            this.loadContact();

             Fire.$on('searching',()=>{
                axios.get('api/findcontact?contact='+this.$parent.search)
                .then(({data})=>{
                   this.contacts = data

                   this.length = data.data.length;

                })
            });

            Fire.$on('done',()=>{
                       this.loadContact();
            });
        }
    }
</script>
