<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header text-bold">User Details
                           <div class="card-tools">
                                <button class="btn btn-outline-success" @click="showUser()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New User</button>
                            </div>
                    </div>

                    <div class="card-body text-center">
                        <table class="table table-striped table-inverse">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Last Login</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="length <= 0">
                                       <td colspan="5" class="jumbotron text-center text-bold">
                                           No Data Found
                                       </td>
                                   </tr>
                                    <tr v-else v-for="(user,index) in users.data" :key="user.id">
                                        <td scope="row">{{ index + 1 }}</td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{user.last_login_at | duration('humanize')}}</td>
                                         <td>
                                            <span :class="user.status == 'Activated' ? 'badge badge-success p-2' : 'badge badge-warning p-2'" @click="changeStatus(user.id)"><i class="fa fa-power-off" aria-hidden="true"></i> {{user.status}}</span>
                                             <span class="badge badge-primary p-2" @click="showUpdate(user)"><i class="fas fa-edit"></i> Edit</span>
                                             <span class=" badge badge-danger p-2" @click="deleteUser(user.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>
                                         </td>
                                    </tr>
                                </tbody>
                        </table>
                        <pagination class="mt-4" :data="users" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt; Previous</span>
	                        <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
            <div class="col-md-3" v-show="showCreate">
                    <div class="card">
                        <div class="card-header"><strong>{{!editMode  ? 'Create user' : 'Update User'}}</strong></div>
                        <div class="card-body">
                                    <div class="form-group">
                                    <label>Name</label>
                                    <input v-model="form.name" type="text" name="Name"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                    <has-error :form="form" field="name"></has-error>
                                    </div>

                                    <div class="form-group">
                                    <label>Email</label>
                                    <input v-model="form.email" type="text" name="email"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                    <has-error :form="form" field="email"></has-error>
                                    </div>

                                    <div class="form-group">
                                    <label>Password</label>
                                    <input v-model="form.password" type="password" name="password"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                    <has-error :form="form" field="password"></has-error>
                                    </div>


                                    <div class="form-group">
                                        <label for="">User Type</label>
                                        <select class="form-control"  name="type"  v-model="form.type"  :class="{ 'is-invalid': form.errors.has('type') }">
                                            <option value="user">User</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                         <has-error :form="form" field="type"></has-error>
                                    </div>


                                    <button v-show="!editMode" class="btn btn-success form-control" @click="createUser">Create User</button>
                                    <button v-show="editMode" class="btn btn-primary form-control" @click="updateUser(form.id)">Update User</button>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
            users:{},
            length:'',
            showCreate:false,
            editMode:false,
            form: new Form({
                id:'',
                name:'',
                email:'',
                password:'',
                type:'',
            })
            }
        },
        methods:{
            getResults(page = 1) {
			axios.get('api/user?page=' + page)
				.then(response => {
					this.users = response.data;
				});
		    },
            loadUser(){
                    axios.get("api/user").then(({ data }) => {
                            this.users = data
                            this.length = data.data.length;
                    });
            },
            showUser(){
                 this.showCreate =true;
                 this.form.reset();
                 this.form.clear();
                 this.editMode = false;
            },
            showUpdate(user){
                this.showCreate = true;
                this.editMode = true;
                this.form.reset();
                 this.form.clear();
                this.form.fill(user);


            },
            createUser(){
                 this.form.post('api/user')
                .then(({data}) => {
                    this.form.clear();
                    this.form.reset();
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data.name +" " + 'was successfully created',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.showCreate=false;
                });
            },
            updateUser(id){
                    this.form.put('api/user/'+id).then(({data})=>{
                          Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data.name +" " + 'was successfully updated',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.showCreate=false;
                    });
            },
            deleteUser(id){
              Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.value) {
                     this.form.delete('api/user/'+id).then(({data})=>{
                         Swal.fire(
                                'Deleted!',
                                'User has been deleted.',
                                'success'
                            )
                            Fire.$emit('done');
                    });

                }
              })
            },
            changeStatus(id){

                    axios.get('api/userStatus/'+id).then(({data})=>{
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: data.status +" " + 'Successfully',
                                showConfirmButton: false,
                                timer: 1500
                                })
                            Fire.$emit('done');
                    });
            }

        },
        created() {
            this.loadUser();

            Fire.$on('searching',()=>{
                axios.get('api/finduser?user='+this.$parent.search)
                .then(({data})=>{
                   this.users = data
                    this.length = data.data.length;
                })
            });
             Fire.$on('done',()=>{
                       this.loadUser();
            });

        }
    }
</script>
