<template>
    <div class="container">
        <div class="row justify-content-center">
           <div class="card-body">
                    <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                            <h3>{{ user }}</h3>
                            <p>Current User</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                        <h3>{{ printer }}</h3>

                        <p>Total Printer</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                        <h3>{{ quotation }}</h3>

                        <p>Quotation Request</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                        <h3>{{ contact }}</h3>

                        <p>Contact</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-text">Welcome Back! <span>{{ current.name }}</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
             data () {
            return {
                user:'',
                contact:'',
                quotation:'',
                printer:'',
                current:{}
            }
        },
        methods:{
            dashboardData(){
                  axios.get("api/dashboard").then(({ data }) => {
                      console.log(data);
                      this.user = data.user;
                      this.contact =data.contact;
                      this.quotation =data.quotation;
                      this.printer =data.printer;
                      this.current = data.current;
                    });
            }
        },
        created() {
          this.dashboardData();
        }
    }
</script>
