// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path:"../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//admin lte
@import '~admin-lte/dist/css/adminlte.css';
// Font Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


.bg-gray{
  background-color: gray !important;
}

// Custom Design
#landingNav{
  background-color:rgba(0,0,0,0.7);
}

#landingNav li a{
  color:white !important;
  font-size: 18px;
  font-weight: 600;
}
#landingNav li a:hover{
  color:#FF1D26 !important;
}

#firstslide{
    background-image: url('/img/A.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#secondslide{
    background-image: url('/img/E.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#thirdslide{
    background-image: url('/img/D.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.carousel-caption{
  top: 40%;
}
.carousel-caption p{
  line-height: 28px;
}
.carousel-caption button{
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #E7361A;
  border: none;
}
.line-1{
  color:black;
  font-weight:500;
  font-size: 30px;
  text-transform: capitalize;
}
.line-2{
  color:black;
  font-weight:600;
  font-size: 40px;
  text-transform: uppercase;
}

.line-3{
  color:black;
  background-color: rgba(215,215,215,0.5);
  font-weight:500;
  font-size: 20px;
  padding : 0 10px;
  border-radius: 5px;
  text-transform: capitalize;
}



@media only screen and (min-width: 200px) and (max-width:767px){
  .carousel-caption{
    display: block !important;
    top:35% !important;
  }
  .carousel-caption p{
    line-height:18px;
  }
  .line-1{
    font-size:17px;
  }
  .line-2{
    font-size:25px;
  }
  .line-3{
    font-size:13px;
  }
  .carousel-caption button{
    font-size:10px;
  }

  #order1{order:2}
  #oreder2{order:1}
}

@media only screen and (min-width:768px) and (max-width:966){
  #order1 p{
    font-size: 1em !important;
  }
  #order2 img{
    background-color:red;
  }
}

  .btn-link{
    text-decoration: none !important;
  }


  .headerText{
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    font-size: 3em;
  }
  .headerText2{
    font-family: 'Anton', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
  }

  .accordionStyleHeader{
    color:black;text-transform:capitalize;font-weight:600;
  }

  .discription-line{
    line-height:18px;font-size:14px;font-style:italic
  }
  .collapseInfo{
    z-index:100;position:absolute;
  }
  // .PrinterTable tr td{
  //   padding: 0 5px !important;
  // }

  #aboutH3{
    text-transform:capitalize;font-size:3.5rem; font-weight:600;font-family: 'Lobster', cursive;color:white;
  }
  #aboutHistory{
    text-transform:uppercase; font-weight:600;font-size:2rem;
  }
  #aboutBG{
    background-image:url("img/code_bg.jpg");background-size:cover;background-position:center;background-attachment:fixed;background-color:rgba(0,0,0,0.6);background-blend-mode:overlay;
  }
  // Google Map Embed
  .mapouter{
    position:relative;text-align:right;height:500px;width:100%;
  }
  .gmap_canvas {
    overflow:hidden;background:none!important;height:500px;width:100%;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropleft:hover>.dropdown-menu {
    display: block;
  }

  .router-link-exact-active{
      background-color: rgba(201, 96, 96, 0.904);
      color:rgb(230, 223, 223) !important;
  }
