<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-bold">Quotation Details</div>
                    <div class="card-body">
                       <table class="table table-sm table-hover">
                           <thead class="thead-dark">
                               <tr class="text-center">
                                   <th>No.</th>
                                   <th>Client Name</th>
                                   <th>Action</th>
                               </tr>
                               </thead>
                               <tbody>
                                   <tr v-if="length == 0">
                                       <td colspan="4" class="jumbotron text-center text-bold">
                                           No Data Found
                                       </td>
                                   </tr>
                                   <tr v-else v-for="(client,index) in clients.data" :key="client.id">
                                       <td scope="row">{{index + 1}}</td>
                                       <td>{{client.CompanyName}}</td>
                                       <td>
                                            <span class="badge badge-success p-1"  @click="viewClients(client.id)" ><i class="fas fa-eye  "></i>View</span>
                                             <span class="badge badge-danger p-1" @click="deleteClients(client.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>
                                       </td>
                                   </tr>
                               </tbody>
                       </table>
                          <pagination class="mt-4" :data="clients" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt; Previous</span>
	                        <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>

            <div class="col-md-6" v-show="showMessage">
                <div class="card text-left" >
                  <div class="card-body">
                    <h4 class="card-title"><strong> Request From:</strong>  <span>{{ Email }}</span></h4>
                        <div class="text-center">
                            <hr>
                             <h2 class="text-center"><strong>Quotation Details</strong> </h2>
                            <hr>
                        </div>
                        <table class=" table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td class="text-bold">
                                        <span>Company Name :</span>
                                    </td>
                                    <td>
                                        <span>{{CompanyName}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-bold">
                                        <span>Address :</span>
                                    </td>
                                    <td>
                                        <span>{{Address}}</span>
                                    </td>

                                </tr>
                                 <tr>
                                    <td class="text-bold">
                                         <span>Unit :</span>
                                    </td>
                                    <td>
                                        <span>{{Unit}}</span>
                                    </td>

                                </tr>
                                 <tr>
                                      <td class="text-bold">
                                          <span>Contact Number :</span>
                                    </td>
                                    <td>
                                        <span>contactNumber</span>
                                    </td>

                                </tr>
                                 <tr>
                                     <td class="text-bold">
                                        <span>Contact Person :</span>
                                    </td>
                                    <td>
                                        <span> {{contactPerson}}</span>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-3 text-right">
                                <button class="btn btn-outline-primary"  @click="reply"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
                        </div>
                        </div>
                    <br>
                  </div>
                </div>
                <div  class="col-md-6" v-show="replyMessage">
                        <div class="card border-primary">
                          <div class="card-body">
                            <h4 class="card-title"><span class="text-bold">Reply to </span>  {{Email}}</h4>
                            <p class="card-text text-bold">Message:</p>
                            <textarea class="text-justify p-0" cols="63" rows="10" v-model="form.message"
                             :class="{ 'is-invalid': form.errors.has('message') }" ></textarea>
                                 <has-error :form="form" field="message"></has-error>
                          </div>
                          <div class="row p-1">
                                <div class="col-md-6">
                                <button class="btn btn-info" @click="back()"><i class="fa fa-backward" aria-hidden="true"></i> Back</button>
                                </div>

                                <div class="col-md-6 text-right">
                                <button class="btn btn-primary" @click="sendReply()"><i class="fas fa-paper-plane"></i> Send</button>
                                </div>
                          </div>

                        </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        data(){
            return{
                showMessage: false,
                replyMessage:false,
                clients: {},
                Address: '',
                CompanyName: '',
                Email: '',
                Unit: '',
                contactNumber: '',
                contactPerson: '',
                length:'',

                form: new Form({
                        email:'',
                      message:'',
                 })
            }
        },
        methods:{
             getResults(page = 1) {
			axios.get('api/quotation?page=' + page)
				.then(response => {
                    this.clients = response.data;
				});
		    },
            loadClients(){
                axios.get("api/quotation").then(({ data }) => {
                    this.clients = data
                     this.length = data.data.length;
                    });
            },
            deleteClients(id){
                    Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if(result.value){
                            axios.get('api/deleteclients/'+id).then(()=>{
                                Swal.fire(
                                'Deleted!',
                                'Message has been deleted.',
                                'success'
                            )
                            Fire.$emit('done');
                        }).catch(()=>{
                            Swal("Failed!", "There was something wrong!", "warning");
                        });
                    }
                    this.showMessage =false;
                })
            },
            viewClients(id){
                axios.get('api/quotation/'+id)
                .then(({data}) => {
                    this.Address = data.Address
                    this.CompanyName = data.CompanyName
                    this.Email = data.Email
                    this.Unit = data.Unit
                    this.contactNumber = data.contactNumber
                    this.contactPerson = data.contactPerson
                    this.form.email = data.Email

                });
                this.showMessage =true;
            },
            reply(){
                this.showMessage = false;
                this.replyMessage = true;
            },
            back(){
                this.showMessage = true;
                this.replyMessage = false;
            },
            sendReply(){
                 this.form.post('api/sendReply')
                .then(({data}) => {
                    this.form.reset();
                    this.form.clear();
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Your reply was successfully send to ' + " " + data.email ,
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.replyMessage = false;
                });
            }
        },
        created(){
            this.loadClients();

             Fire.$on('searching',()=>{
                axios.get('api/findquotation?clients='+this.$parent.search)
                .then(({data})=>{
                   this.clients = data
                   this.length = data.data.length;

                })
            });

            Fire.$on('done',()=>{
                       this.loadClients();
            });
        }
    }
</script>
