<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-bold">Hiring Module
                           <div class="card-tools">
                                <button class="btn btn-outline-success" @click="AddHiring()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Hiring</button>
                            </div>
                    </div>

                    <div class="card-body text-center">
                        <table class="table table-striped table-inverse">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="length <= 0">
                                       <td colspan="5" class="jumbotron text-center text-bold">
                                           No Data Found
                                       </td>
                                   </tr>
                                    <tr v-else v-for="(hiring,index) in hirings.data" :key="hiring.id">
                                        <td scope="row">{{ index + 1 }}</td>
                                        <td>{{ hiring.name }}</td>
                                         <td>
                                             <span class="badge badge-primary p-2" @click="showUpdate(hiring)"><i class="fas fa-edit"></i> Edit</span>
                                             <span class=" badge badge-danger p-2" @click="deleteHiring(hiring.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>
                                         </td>
                                    </tr>
                                </tbody>
                        </table>
                        <pagination class="mt-4" :data="hirings" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt; Previous</span>
	                        <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
            <div class="col-md-6" v-show="showCreate">
                    <div class="card">
                        <div class="card-header"><strong>{{!editMode  ? 'Create Hiring Details' : 'Update Hiring Details'}}</strong></div>
                        <div class="card-body">

                                    <div class="form-group text-center">
                                    <label>Printer Image</label>
                                    <br>
                                        <div class="avatar img-fluid img-circle" style="margin-top:10px">
                                        <img class="border border-primary rounded" :src="this.form.photo  ? get_avatar() : 'images/add_printer.png'" width="300px" height="300px"/>
                                        </div>
                                        <input type="file" @change='uploadImage' :class="{ 'is-invalid': form.errors.has('photo') }" name="photo">
                                        <has-error :form="form" field="photo"></has-error>
                                    </div>


                                    <div class="form-group">
                                    <label>Name</label>
                                    <input v-model="form.name" type="text" name="Name"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                    <has-error :form="form" field="name"></has-error>
                                    </div>

                                      <div class="form-group">
                                    <label>Name</label>
                                    <textarea v-model="form.details" type="text" name="details"  cols="30" rows="10"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('details') }">
                                    </textarea>
                                    <has-error :form="form" field="details"></has-error>
                                    </div>



                                    <button v-show="!editMode" class="btn btn-success form-control" @click="createHiring()">Create hiring</button>
                                    <button v-show="editMode" class="btn btn-primary form-control" @click="updateHiring(form.id)">Update User</button>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
            hirings:{},
            length:'',
            showCreate:false,
            editMode:false,
            form: new Form({
                id:'',
                photo:'',
                name:'',
                details:'',
            })
            }
        },
        methods:{
             get_avatar(){
                let photo = (this.form.photo.length > 100) ? this.form.photo : 'hiring/'+this.form.photo;
               return photo;
            },
            uploadImage(e){
              let file = e.target.files[0];
                let reader = new FileReader();
                if(file['size'] < 2111775)
                {
                    reader.onloadend = (file) => {
                     this.form.photo = reader.result;
                    }
                     reader.readAsDataURL(file);
                }else{
                    alert('File size can not be bigger than 2 MB')
                }
            },
            getResults(page = 1) {
			axios.get('api/hiring?page=' + page)
				.then(response => {
					this.hirings = response.data;
				});
		    },
            loadHiring(){
                    axios.get("api/hiring").then(({ data }) => {
                            this.hirings = data
                            this.length = data.data.length;
                    });
            },
            AddHiring(){
                 this.showCreate =true;
                 this.form.reset();
                 this.form.clear();
                 this.editMode = false;
            },
            showUpdate(hiring){
                this.showCreate = true;
                this.editMode = true;
                this.form.reset();
                 this.form.clear();
                this.form.fill(hiring);
            },
            createHiring(){
                 this.form.post('api/hiring')
                .then(({data}) => {
                    this.form.clear();
                    this.form.reset();
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data.name +" " + 'was successfully created',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.showCreate=false;
                });
            },
            updateHiring(id){
                    this.form.put('api/hiring/'+id).then(({data})=>{
                          Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data.name +" " + 'was successfully updated',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.showCreate=false;
                    });
            },
            deleteHiring(id){
              Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.value) {
                     this.form.delete('api/hiring/'+id).then(({data})=>{
                         Swal.fire(
                                'Deleted!',
                                'Hiring Details has been deleted.',
                                'success'
                            )
                            Fire.$emit('done');
                    });

                }
              })
            },


        },
        created() {
            this.loadHiring();

            Fire.$on('searching',()=>{
                axios.get('api/findhiring?hiring='+this.$parent.search)
                .then(({data})=>{
                   this.hirings = data
                    this.length = data.data.length;
                })
            });
             Fire.$on('done',()=>{
                       this.loadHiring();
            });

        }
    }
</script>
