<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-bold">Printer Details
                           <div class="card-tools">
                                <button class="btn btn-outline-success" @click="showPrinter()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New Printer</button>
                            </div>
                    </div>

                    <div class="card-body text-center">
                        <table class="table table-striped table-inverse">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Device Name</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="length == 0">
                                       <td colspan="4" class="jumbotron text-center text-bold">
                                           No Data Found
                                       </td>
                                   </tr>
                                    <tr v-else v-for="(printer,index) in printers.data" :key="printer.id">
                                        <td scope="row">{{ index + 1 }}</td>
                                        <td>{{ printer.name }}</td>
                                         <td>
                                             <span class="badge badge-primary p-2"  @click="showUpdate(printer)"><i class="fas fa-edit" ></i> Edit</span>
                                             <span class=" badge badge-danger p-2" @click="deletePrinter(printer.id)"><i class="fa fa-trash" aria-hidden="true" ></i> Delete</span>
                                         </td>
                                    </tr>
                                </tbody>
                        </table>
                        <pagination class="mt-4" :data="printers" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt; Previous</span>
	                        <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
            <div class="col-md-7" v-show="showCreate">
                    <div class="card">
                        <div class="card-header"><strong>{{!editMode  ? 'Create Printer' : 'Update Printer Details'}}</strong></div>
                        <div class="card-body">
                                    <div class="form-group text-center">
                                    <label>Printer Image</label>
                                    <br>
                                        <div class="avatar img-fluid img-circle" style="margin-top:10px">
                                        <img class="border border-primary rounded" :src="this.form.photo  ? get_avatar() : 'images/add_printer.png'" width="300px" height="300px"/>
                                        </div>
                                        <input type="file" @change='uploadImage' :class="{ 'is-invalid': form.errors.has('photo') }" name="photo">
                                        <has-error :form="form" field="photo"></has-error>
                                    </div>

                                    <div class="row">
                                         <div class="form-group col-6">
                                            <label>Device Name</label>
                                            <input v-model="form.name" type="text" name="Name"
                                                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                            <has-error :form="form" field="name"></has-error>
                                         </div>
                                        <div class="form-group col-6">
                                        <label>Device Type</label>
                                        <input v-model="form.type" type="text" name="typr"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                        <has-error :form="form" field="type"></has-error>
                                        </div>

                                        <div class="form-group col-6">
                                        <label>Ink Type</label>
                                        <input v-model="form.ink" type="text" name="Ink"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('ink') }">
                                        <has-error :form="form" field="ink"></has-error>
                                        </div>

                                        <div class="form-group col-6">
                                        <label>Print Speed</label>
                                        <input v-model="form.speed" type="text" name="Speed"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('speed') }">
                                        <has-error :form="form" field="speed"></has-error>
                                        </div>

                                        <div class="form-group col-6">
                                        <label>Print Resolution</label>
                                        <input v-model="form.resolution" type="text" name="Resolution"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('resolution') }">
                                        <has-error :form="form" field="resolution"></has-error>
                                        </div>

                                        <div class="form-group col-6">
                                        <label>Max Paper Size</label>
                                        <input v-model="form.size" type="text" name="Size"
                                            class="form-control" :class="{ 'is-invalid': form.errors.has('size') }">
                                        <has-error :form="form" field="size"></has-error>
                                        </div>
                                    </div>

                                    <button v-show="!editMode" class="btn btn-success form-control" @click="createPrinter()">Create Printer Details</button>
                                    <button v-show="editMode" class="btn btn-primary form-control" @click="updatePrinter(form.id)">Update Printer Details</button>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
            printers:{},
            length:'',
            showCreate:false,
            editMode:false,
            form: new Form({
                id:'',
                photo:'',
                name:'',
                type:'',
                ink:'',
                speed:'',
                resolution:'',
                size:'',
            })
            }
        },
        methods:{
             get_avatar(){
                let photo = (this.form.photo.length > 100) ? this.form.photo : 'printer/'+this.form.photo;
               return photo;
            },
            uploadImage(e){
              let file = e.target.files[0];
                let reader = new FileReader();
                if(file['size'] < 2111775)
                {
                    reader.onloadend = (file) => {
                     this.form.photo = reader.result;
                    }
                     reader.readAsDataURL(file);
                }else{
                    alert('File size can not be bigger than 2 MB')
                }
            },
            getResults(page = 1) {
			axios.get('api/printer?page=' + page)
				.then(response => {
					this.printers = response.data;
				});
		    },
            loadPrinter(){
                    axios.get("api/printer").then(({ data }) => {
                            this.printers = data
                            this.length = data.data.length;
                    });
            },
            showPrinter(){
                 this.showCreate =true;
                 this.form.reset();
                 this.form.clear();
                 this.editMode = false;
            },
            showUpdate(printer){
                this.showCreate = true;
                this.editMode = true;
                this.form.reset();
                 this.form.clear();
                this.form.fill(printer);


            },
            createPrinter(){
                 this.form.post('api/printer')
                .then(({data}) => {
                    this.form.clear();
                    this.form.reset();
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data.name +" " + 'was successfully created',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.showCreate=false;
                });
            },
            updatePrinter(id){
                    this.form.put('api/printer/'+id).then(({data})=>{
                          Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: data.name +" " + 'was successfully updated',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    Fire.$emit('done');
                    this.showCreate=false;
                    });
            },
            deletePrinter(id){
              Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.value) {
                     this.form.delete('api/printer/'+id).then(({data})=>{
                         Swal.fire(
                                'Deleted!',
                                'Printer  successfully  deleted.',
                                'success'
                            )
                            Fire.$emit('done');
                    });

                }
              })
            }
        },
        created() {
            this.loadPrinter();

            Fire.$on('searching',()=>{
                axios.get('api/findPrinter?printer='+this.$parent.search)
                .then(({data})=>{
                   this.printers = data
                    this.length = data.data.length;
                })
            });
             Fire.$on('done',()=>{
                       this.loadPrinter();
            });

        }
    }
</script>
